<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    @{ 
        var currentMSContext = InterfazHubSpot.Core.Util.GetMSContext();
        var currentTheme = currentMSContext.KendoTheme;
        var currentHeaderColor = currentMSContext.HeaderColor;
        var currentImagenFondo = InterfazHubSpot.Core.Util.GetImagenFondo(currentMSContext);
        var currentColorEtiquetas = InterfazHubSpot.Core.Util.GetColorEtiquetas(currentMSContext);
    }
    @Styles.Render("~/Content/awesome/css")
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/Segoe/css")
    @Styles.Render("~/Content/css" + currentTheme)
    @Styles.Render("~/Content/menustyle/css")
    @Styles.Render("~/Content/mastersoft/css")
    @if (currentTheme == "black")
    {
        @Styles.Render("~/Content/cssmsblack")
    }
    else if (currentTheme == "flat")
    {
        @Styles.Render("~/Content/cssmsflat")
    }
    else if (currentTheme == "material")
    {
        @Styles.Render("~/Content/cssmsmaterial")
    }
    else if (currentTheme == "materialblack")
    {
        @Styles.Render("~/Content/cssmsmaterialblack")
    }
    else if (currentTheme == "metro")
    {
        @Styles.Render("~/Content/cssmsmetro")
    }
    else if (currentTheme == "metroblack")
    {
        @Styles.Render("~/Content/cssmsmetroblack")
    }
    else if (currentTheme == "highcontrast")
    {
        @Styles.Render("~/Content/cssmshighcontrast")
    }
    else if (currentTheme == "moonlight")
    {
        @Styles.Render("~/Content/cssmsmoonlight")
    }
    else if (currentTheme == "office365")
    {
        @Styles.Render("~/Content/cssmsoffice365")
    }
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body spellcheck="false">

    <input type="hidden" id="currentTheme" value="@currentTheme" />
    <input type="hidden" id="currentHeaderColor" value="@currentHeaderColor" />
    <input type="hidden" id="currentImagenFondo" value="@currentImagenFondo" />
    <input type="hidden" id="currentColorEtiquetas" value="@currentColorEtiquetas" />

    <script type="text/x-kendo-tmpl" id="template">
        <div class="product">
            <div title="#:title#" style="background-color: #:color#;width: 43px;height: 43px;margin: 2px;"></div>
        </div>
    </script>


    @if (Request.IsAuthenticated)
    {
        <nav id="navheader" class="navbar navbar-default navbar-fixed-top" style="background-color: @currentHeaderColor">

            @Html.Partial("_LoginPartial")

        </nav>

        <div id="configinfo" class="headerconfigdropdown">

            <div style="width: 100%">
                <h3 style="float: left;margin-top: 15px;margin-left: 10px;padding-right: 200px;">Configuración</h3>
                <i id="closeconfiginfo" class="fas fa-times fa-lg" title="Cerrar" style="float: right;margin-top: -15px;margin-right: 10px;cursor: pointer;"></i>
            </div>

            <label style="margin-left: 10px;">Color de encabezado</label>
            <div id="listView" class="temalistview"></div>

            <label style="margin-left: 10px;">Modo Oscuro</label>
            <div @*style="display: block;margin-left: 10px;"*@
                 style="margin-left: 10px;display: flex;justify-content: space-between;">
                <div id="modooscurocontainer" @*style="display: inline-block"*@ style="display: flex;align-items: center;">
                    <i class="fas fa-sun" style="font-size: 22px;margin-right: 5px;"></i>
                    <input id="modooscuro" type="checkbox" />
                    <i class="fas fa-moon" style="margin-left: 5px;font-size: 16px;"></i>
                </div>
                <button id="configpredeterminada" class="k-button" type="button" data-role="button" style="margin-right:10px;float: right;">Restaurar Predeterminados</button>
            </div>

            <label style="margin-left: 10px;">Estilo para el Modo Claro</label>
            <div style="display: block;margin-left: 10px;">
                <select id="estiloclaro"></select>
            </div>

            <label style="margin-left: 10px;">Estilo para el Modo Oscuro</label>
            <div style="display: block;margin-left: 10px;">
                <select id="estilooscuro"></select>
            </div>

            <div style="display: block;margin-left: 10px;margin-bottom:15px;">
                <table>
                    <tr>
                        <td style="width:210px"><label>Imagen de Fondo</label></td>
                        <td><label>Color de Etiquetas</label></td>
                    </tr>
                    <tr>
                        <td style="width:210px"><select id="imagenfondo" style="width:190px;"></select></td>
                        <td style="width:130px"><select id="coloretiq" style="width:100%;"></select></td>
                    </tr>
                </table>
            </div>

            <div style="text-align: center;">
                <button id="configaceptar" class="k-primary" type="button" data-role="button">Aceptar</button>
            </div>

            @using (Html.BeginForm("GuardarEstilos", "Account", new { area = "" }, FormMethod.Post, new { id = "estilosForm", @class = "navbar-right" }))
            {
                <input type="hidden" id="paramcolor" name="color" value="" />
                <input type="hidden" id="paramhover" name="hover" value="" />
                <input type="hidden" id="parammodooscuro" name="modooscuro" value="" />
                <input type="hidden" id="paramestiloclaro" name="estiloclaro" value="" />
                <input type="hidden" id="paramestilooscuro" name="estilooscuro" value="" />
                <input type="hidden" id="paramimagenfondo" name="imagenfondo" value="" />
                <input type="hidden" id="paramcoloretiquetas" name="coloretiquetas" value="" />
            }

        </div>

        <div id="sesioninfo" class="headersesiondropdown">

            <div style="display: table;">
                <div class="userinfo">
                    <i id="closesesioninfo" class="fas fa-times fa-lg" title="Cerrar" style="float: right;margin-top: 15px;margin-right: 10px;cursor: pointer;"></i>
                    <span id="sesionIniciales" class="circulosesion" style="display: inline-block;"></span>
                    <div style="display: inline-block; vertical-align: middle;">
                        <span id="sesionUsuario" style="display: block;font-weight: bold;"></span>
                        <span id="sesionEmail" style="display: block;"></span>
                    </div>
                </div>

                <span class="user-background"></span>

                <div class="userinfo">

                    <label id="sesionEmpresa" style="display: block;"></label>

                    <label id="sesionSistema" style="display: block;"></label>

                </div>

                <div class="userinfo">

                    <div style="width: 100%;margin-bottom: 5px;text-align:center;">
                        <a id="sesionCambiarPassword" href="#" style="color: #002038;font-weight:bold">Cambiar Contraseña</a>
                    </div>

                    <div style="width: 100%;margin-bottom: 5px;text-align:center;">
                        <a href="#" id="sesionCerrar" style="color: #002038;font-weight:bold" onclick="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
                    </div>

                </div>

                <div class="userfooter">

                    <div style="width: 45%;margin-bottom: 5px;text-align:center;display: inline-block;">
                        <a href="https://www.mastersoft.com.ar/" style="color: blue;">Mastersoft</a>
                    </div>

                    <div style="width: 45%;margin-bottom: 5px;text-align:center;display: inline-block;">
                        <label>Copyright &copy; @DateTime.Now.Year</label>
                    </div>

                </div>

            </div>

            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }

        </div>

        <div id="mobiletoolbarinfo" class="headermobiletoolbardropdown">

            <div style="width: 100%">
                <h3 style="float: left;margin-top: 15px;margin-left: 10px;padding-right: 180px;">Favoritos</h3>
                <i id="closemobiletoolbar" class="fas fa-times fa-lg" style="float: right;margin-top: 15px;margin-right: 10px;cursor: pointer;"></i>
            </div>

            <div style="display: table;margin: 10px;">
                <div id="mobiletoolbar"></div>
            </div>

        </div>

        <ul id="menu" style="display:none">
            <li><img src="~/Content/Images/Aplicar.png" />Abrir en otra pestaña</li>
        </ul>

        <ul id="menutoolbar" style="display:none">
            <li id="opc1">Abrir en otra pestaña</li>
            <li id="opc2">Desanclar como favorito</li>
        </ul>
    }

    <div class="wrapper">

        <nav id="sidebar">

            <div id="expandnodes" title="Expandir">
                <i class="fas fa-plus"></i>
            </div>

            <div id="colapsenodes" title="Contraer">
                <i class="fas fa-minus"></i>
            </div>

            <div id="dismiss" title="Ocultar">
                <i class="fas fa-chevron-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Opciones</h3>
            </div>

            <input id="searchopc" class="k-textbox" placeholder="Buscar opción..." autocomplete="off" spellcheck="false" />

            <div id="menutreecontainer" style="width:100%;height:480px;">
                <div id="menutreeview" style="width:100%;height:100%"></div>
            </div>

        </nav>

        <div id="content">

            <div id="toolbar"></div>

            @RenderBody()

        </div>

    </div>

    <div class="overlay"></div>

    <div id="sessionCheck" style="display:none; cursor: default">
        <div style="margin:20px;">
            <label>Esta sesión ya no es válida, porque cambiaron algunos parámetros.</label>
            <label>Se debe que cerrar este navegador, o volver a la pagina HOME.</label>
        </div>
        <button id="butSessionGoHome" class="k-primary" type="button" data-role="button" style="margin-bottom:10px">Ir a la pagina HOME</button>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/mastersoft")

    @if (Request.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/menu")
    }

    @RenderSection("scripts", required: false)

</body>
</html>






